.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 12px 16px;
  background-color: crimson;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
  font-size: 1rem;
}

.button:hover {
  background-color: rgb(201, 13, 51);
}

.button:disabled {
  background-color: rgba(220, 20, 60, 0.473);
  cursor: not-allowed;
}
